/* Year.css */

.card-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0 auto;
}

.card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    background-color: rgb(194, 194, 194);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    background-color: rgb(214, 214, 214);
}

.card h2 {
    margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        height: auto;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}